name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
    - main

  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - uses: pnpm/action-setup@v4
      name: Install pnpm
      with:
        run_install: |
          - recursive: true
            args: [--no-frozen-lockfile]
          - args: [--global, esbuild]

    - name: Setup Node.js
      uses: actions/setup-node@v6
      with:
        node-version: 'lts/*'
        check-latest: true
        cache: pnpm

    - name: lint
      run: pnpm lint

    - name: build
      run: pnpm build

    - name: test
      run: pnpm test
